div.container {
    background-color: blue;
    width: 900px;
    margin: 10px auto;
}
div.header {
    padding: 2px 40px 13px 50px;
    background-color:chocolate;
    /* height: 900px; */
}
div.menu {
    padding: 10px;
    background-color: yellow;
}
div.main {
    height: 450px;
}
div.sidebar {
    float: left;
    height: 100%;
    width: 25%;
}
div.content {
    float: left;
    width: 75%;
    height: 100%;
}
div.footer {
    padding: 10px;
}
div.sideone {
    padding: 10px;
    height: 205px;
    width: 205px;
    background-color: darkslategrey;
    color: white;
}
div.sidetwo {
    padding: 10px;
    height: 205px;
    width: 205px;
    background-color: black;
    color: white;
}
div.contone {
    padding: 10px;
    height: 205px;
    width: 655px;
    background-color:maroon;
    color: white;
}
div.conttwo {
    padding: 10px;
    height: 205px;
    width: 655px;
    background-color: darkred;
    color: white;
}